{% extends "base_generic.html" %}

{% block content %}

<h1>Language: {{ language.name }}</h1>

<div style="margin-left:20px;margin-top:20px">
<h4>Books in language</h4>

<ul>
  {% for copy in language.book_set.all %}
  <li>
    <a href="{{ copy.get_absolute_url }}">{{ copy.title }}</a>
  </li>
  {% empty %}
  <li>There are no books in this language.</li>
  {% endfor %}
</ul>

{% endblock %}


{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_language or perms.catalog.delete_language %}
  <hr>
  <ul class="sidebar-nav">

    </ul>
  {% endif %}

{% endblock %}